body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(TECH3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #044d8a;
}

input {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-style: groove;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f02805;
}
